@model FrontEnd.Models.DepartamentosViewModel

@{
    ViewData["Title"] = "Agregar";
}

<h2><span style="color: darkgrey; font-weight: bold;">Agregar nuevo departamento</span></h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreDepartamento" class="control-label"></label>
                <input asp-for="NombreDepartamento" class="form-control" />
                <span asp-validation-for="NombreDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreResponsable" class="control-label"></label>
                <input asp-for="NombreResponsable" class="form-control" />
                <span asp-validation-for="NombreResponsable" class="text-danger"></span>
            </div>
            <hr />
            <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                <input type="submit" value="Insertar" class="btn btn-outline-success btn-sm" />
                <a asp-controller="Departamentos" asp-action="Index" class="btn btn-outline-secondary btn-sm">Atrás</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
